# PostgreSQL
POSTGRES_DB=almoxarifado
DB_URL=jdbc:postgresql://localhost:5432/almoxarifado
DB_USERNAME=postgres
DB_PASSWORD=troque_esta_senha

# Keycloak - servidor e validação JWT
KEYCLOAK_ROOT_URL=http://localhost:8080
# CORS - origens permitidas (separadas por vírgula)
CORS_ALLOWED_ORIGINS=http://localhost:3000,https://seu-frontend.com
JWT_ISSUER_URI=http://localhost:8080/realms/almoxarifado
JWT_JWK_SET_URI=http://localhost:8080/realms/almoxarifado/protocol/openid-connect/certs
JWT_RESOURCE_ID=almoxarifado-api
JWT_PRINCIPLE_ATTRIBUTE=preferred_username

# Keycloak - cliente administrativo
KEYCLOAK_ADMIN_BASE_URL=http://localhost:8080
KEYCLOAK_ADMIN_REALM=almoxarifado
KEYCLOAK_ADMIN_CLIENT_ID=almoxarifado-admin
KEYCLOAK_ADMIN_CLIENT_SECRET=adicione_o_secret_do_cliente
KEYCLOAK_ADMIN_ROLES_CLIENT_ID=almoxarifado-api
KEYCLOAK_ADMIN_ROLES_CLIENT_UUID=adicione_o_uuid_do_cliente
KEYCLOAK_ADMIN_ROLE_ADMIN_ID=adicione_o_uuid_da_role_admin
KEYCLOAK_ADMIN_ROLE_BOLSISTA_ID=adicione_o_uuid_da_role_bolsista
KEYCLOAK_ADMIN_DEFAULT_PASSWORD=troque_esta_senha

# Keycloak - cliente de usuários
KEYCLOAK_USER_CLIENT_ID=almoxarifado-api
KEYCLOAK_USER_CLIENT_SECRET=adicione_o_secret_do_cliente

# Servidor de e-mail (exemplo: SMTP do Gmail)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_ADDRESS=seu-email@example.com
EMAIL_PASSWORD=adicione_uma_senha_de_aplicativo
